 {{#if loggedIn}}
 <div class="container">
        <div class="d-grid gap-2">
            <a class="btn btn-success mb-4 p-3" href="/create" type="button">Create Post</a>
        </div>
    </div>

{{#each posts as |post|}}

<div class="container mb-4">
        <div class="card border border-3" style="width: 100% ">
            <div class="card-body">
              <h5 class="card-title">{{post.title}}</h5>
              <h6 class="card-subtitle m-2 text-body-secondary"> Posted By : {{post.user.first_Name}} {{post.user.last_Name}} </h6>
              <p class="card-text">{{post.content}}</p>
              <a href="/posts/{{post.id}}" class="card-link"> View Post </a>
            </div>
        </div>
</div> 

{{/each}}
</div>
{{else}}
<div class="container">
    <div class="d-grid gap-2">
        <a class="btn btn-warning mb-4 p-3" href="/login" > You must create an account </a>
    </div>
</div>
{{/if}}