<div class="container mb-5 pb-2 col-12">
  <div class="card border border-3" style="width: 100%">
    <div class="card-body">
      <h3 class="card-title ">{{post.title}}</h3>
      <h5 class="card-subtitle text-body-secondary mb-3 mt-3 ">Posted By : {{post.user.first_Name}} {{post.user.last_Name}} </h5>
      <h5 class="card-title small mb-4 ">Email: {{post.user.email}}</h5>
      <h4 class="card-text ">{{post.content}}</h4>
      <p id="postID">{{post.id}}</p>
      </div>
  </div>
  
        
</div>
<div class="container comment section">
  <div class="input-group input-group-lg mb-3">
    <input type="text" id="commentContent"class="form-control" aria-label="Comment" placeholder="Comment here" aria-describedby="inputGroup-sizing-sm">
    <button type="submit" id="commentButton" class="btn col-3-sm btn-primary me-2">Add Comment</button>
  </div>
               
</div>
<div class="container">
  <div>
      <h1 class="text-white"> comments </h1>
  </div>
  {{> comment}}
                
</div>
<script src="/js/createComment.js"></script>
